*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit; */
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* color: #2b283a; */
  line-height: 1.4;
  /* background-color: #ccc; */
  background-color: #fff;
}

svg {
  display: block;
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

/* ///////////////////// */
/* NAVBAR */
/* ///////////////////// */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  color: #fff;
  gap: 0.4rem;
  box-shadow: 0 2rem 7rem rgba(0, 0, 0, 0.2);
  padding: 1.2rem 2.4rem;
}
.navbar__img {
  height: 2.4rem;
  width: 2.4rem;
}

/* ///////////////////// */
/* Card */
/* ///////////////////// */
.cards-list {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4rem 2rem;
  max-width: 70rem;
  margin: 0 auto;
}

.card {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card:not(:last-child) {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #444;
}

.card__img {
  width: 80%;
}

.card__text {
  width: 100%;
}

.location__img {
  border-radius: 12px;
  min-height: 20rem;
  object-fit: cover;
  transition: all 0.6s;
}
.location__img:hover {
  transform: scale(1.1);
}

/* Location */
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* gap: 3rem; */
  margin-bottom: 0.6rem;
}

.location__icon {
  margin-left: -3px;
  display: block;
  width: 2rem;
  height: 2rem;
  color: #f55a5a;
}

.location__name {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.location__link:link,
.location__link:visited {
  text-underline-offset: 2px;
  /* color: #777; */
  color: #311212;
  margin-left: 2rem;
  font-size: 1rem;
  transition: color 0.2s;
}

.location__link:hover,
.location__link:active {
  color: #622424;
}

.location__title {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.location__date {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}

.location__description {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* ///////////////////// */
/* FOOTER */
/* ///////////////////// */
.footer {
  font-size: 1.6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  color: #fff;
  gap: 0.4rem;
  padding: 1.2rem 2.4rem;
}

.footer__link:link,
.footer__link:visited {
  display: inline-block;
  text-underline-offset: 5px;
  color: #000;
  transition: transform 1s;
}

.footer__link:hover,
.footer__link:active {
  transform: scale(1.2) rotate(2deg);
  transition: transform 0.4s;
}
